extends layout

block styles
  link(rel="stylesheet", href="/css/salesTable.css")

block content
  .container
    .sales-list
      h2 Registered Sales

      table#salesTable.table.table-striped.table-bordered
        thead
          tr
            th Customer Name
            th Product Name
            th Product Type
            th Quantity
            th Unit Price
            th Date
            th Payment Type
            th Sales Agent
            th Transport Included
            if currentUser && currentUser.role === "Manager"
              th Update
              th Delete
            else
              th Receipt

        tbody
          if sales.length
            each sale in sales
              tr
                td #{sale.customerName}
                td #{sale.productName}
                td #{sale.productType}
                td #{sale.quantity}
                td UGX #{sale.unitPrice.toLocaleString()}
                td #{moment(sale.date).format("DD-MM-YYYY")}
                td #{sale.paymentType}
                td #{sale.salesAgent ? sale.salesAgent.fullName : "N/A"}
                td #{sale.transportIncluded ? "Yes" : "No"}
                if currentUser && currentUser.role === "Manager"
                  td
                    a.btn.btn-warning(href=`/editsale/${sale._id}`) Edit
                  td
                    form(method="post", action="/deletesale")
                      input(type="hidden", name="id", value=sale._id)
                      button.btn.btn-danger.btn-block(type="submit") Delete
                else
                  td
                    a.btn.btn-dark.receipt(href=`/getReciept/${sale._id}`) Receipt
          else
            tr
              td(colspan="11") No sales recorded yet.

      //- Add Sale button
      a.btn.btn-dark.mt-3.sale(href='/recordSale') Add Sale

block scripts
  //- script(src="/js/salesTables.js")
