extends layout

block styles
  link(rel="stylesheet", href="/css/stockTable.css")
  script(src="https://cdn.jsdelivr.net/npm/chart.js")

block content
  .container
    h1 Registered Stock
    .stock-list
      table#stockTable.table.table-bordered.table-striped
        thead
          tr
            th Product Name
            th Product Type
            th Supplier Name
            th Date
            th Quantity
            th Cost Price
            th Selling Price
            th Quality
            th Color
            th Measurements
            th Update
            th Delete
        tbody
          if items.length
            each item in items
              tr
                td #{item.productName}
                td #{item.productType}
                td #{item.supplierName}
                td #{moment(item.date).format("DD-MM-YYYY")}
                td #{item.quantity}
                td #{item.costPrice}
                td #{item.sellingPrice}
                td #{item.quality}
                td #{item.color}
                td #{item.measurements}
                td
                  a.btn.btn-warning(href=`/editstock/${item._id}`) Edit
                td
                  form(method="post", action="/deletestock")
                      input(type="hidden", name="id", value=item._id)
                      button.btn.btn-danger.btn-block(type="submit") Delete

    a.btn.btn-dark.mt-3(href='/Addstock') Add Stock

block scripts
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
